 <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
            <!-- Overlay -->
            <div class="overlay"></div>

            <!-- Indicators -->
           

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="slide-1"></div>
                    <div class="hero">
                        <hgroup style="">
                            <h1>Thanks for choosing TimeLocker!</h1>
                            <h3> Just 3 steps: </h3>
                            <ul class="list	">

                            	<li> 1.Log in </li>
                            	<li> 2.Enjoy the awesomness </li>
                            	<li> 3. There is no step 3 </li>
                        </hgroup>
                		 <a href="#/login" class="btn btn-hero btn-lg" role="button">See all features</a>
                    </div>
                </div>
              
            </div>
        </div>

